body{
    background-image: url('../img/Background_Login.png');
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Open Sans', sans-serif;
    color: white;
    display: flex;
}

header{
    width: 592px;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.25);
    display: flex;
    justify-content: center;
}

.contend1{
    width: 440px;
}

.contend1 img{
    margin: 25px 0 35px -10px;
}

.contend1 h1{
    font-size: 48px;
    font-weight: bold;
    margin-bottom: 35px;
}

.contend1 p{
    font-size: 20px;
    font-weight: bold;
    line-height: 50px;
}

main{
    width: 900px;
    height: 710px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box-create{
    background-color: rgba(255, 255, 255, 0.1);
    width: 444px;
    height: 600px;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: -10px 10px 10px rgb(71, 71, 71) ;
}

.contend{
    width: 350px;
    height: 550px;
}

.partition1{
    margin-bottom: 50px;
}

.partition1 h2{
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 10px;
}

form button{
    background-color: #C44900;
    width: 100%;
    height: 59px;
    border: 1px solid white;
    border-radius: 15px;
    color: white;
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    box-shadow: -10px 10px 10px rgb(71, 71, 71) ;
    cursor: pointer;
    transition: .3s;
}

form button:hover{
background-color: white;
color:#C44900;
border: solid 2px #C44900;
}

.sign-up{
    text-align: center;
}

.sign-up a{
    color: #C44900;
    font-weight: bold;
    text-decoration: none;
}

form input{
    background-color: rgba(255, 255, 255, 0);
    height: 46px;
    width: 295px;
    color: white;
    font-size: 16px;
    outline: 0;
    border: solid 1px white;
    border-radius: 8px;
    padding-left: 50px;
    margin-bottom: 25px;
}

.mail{
    background-image: url('../img/icon/mail.png');
    background-repeat: no-repeat;
    background-position:left;
    background-position-x: 10px;
}

.password{
        background-image: url('../img/icon/password.png');
        background-repeat: no-repeat;
        background-position:left;
        background-position-x: 10px;
}

.name{
    background-image: url('../img/icon/user.png');
    background-repeat: no-repeat;
    background-position:left;
    background-position-x: 10px;
}

input::placeholder{
    color: white;
    font-size: 16px;
}

.custom-checkbox input{
    display: none;
}

.custom-checkbox input + label:before{
    content: '';
    width: 26px;
    height: 26px;
    border-radius: 4px;
    background-color: rgba(170, 170, 170, 0.2);
    display: inline-block;
    vertical-align: middle;
    margin-right: 8px;
    box-shadow: 0 3px 5px rgb(45, 44, 44);
}

.custom-checkbox input:checked + label::before{
    background-color: #C44900;
    background-image: url("data:image/svg+xml,%0A%3Csvg xmlns='http://www.w3.org/2000/svg' width='26' height='26' viewBox='0 0 10 10'%3E%3Cg class='nc-icon-wrapper' stroke-width='1' fill='%23555555'%3E%3Cpath fill='none' stroke='%23FFFFFF' stroke-linecap='round' stroke-linejoin='round' stroke-miterlimit='10' data-cap='butt' d='M2.83 4.72l1.58 1.58 2.83-2.83'/%3E%3C/g%3E%3C/svg%3E");
}

.set{
    position: absolute;
    top: 425px;
    right: 300px;
}