body{
    background-image: url("../img/Background_Login.png");
    background-size: cover;
    font-family: 'Open Sans', sans-serif;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header{
    width: 100%;
}

.logo{
    margin-left: 50px;
    margin-top: 20px;
}

main{
    display: flex;
    flex-direction: row;
}

.card1{
    width: 378.67px;
    height: 600px;
    background-color: white;
    border-radius: 6px;
    display: flex;
    justify-content: center;
}

.title_black{
    font-size: 22px;
    font-weight: bold;
    color: #191D23;
    margin-top: 20px;
    margin-bottom: 30px;
}

.paragraph{
    font-size: 16px;
    color: #64748B;
}

.price{
    font-size: 56px;
    color: #191D23;
    margin-right: 5px;
}

.group1{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 40px;
    margin-bottom: 30px;
}

.group2{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 10px;
}

.group2 p{
    color: #191D23;
    margin-left: 10px;
}

.card1 button{
    width: 330.64px;
    height: 44px;
    background-color: white;
    border: 2px solid #C44900;
    border-radius: 8px;
    color: #C44900;
    font-weight: bold;
    cursor: pointer;
    transition: .3s;
    margin-bottom: 30px;
}

.card1 button:hover{
    background-color: #C44900;
    color: white;
    border: 2px solid white;
}

.card2{
    width: 378.67px;
    height: 600px;
    background-color: #C44900;
    border-radius: 6px;
    display: flex;
    justify-content: center;
    margin-left: 20px;
    box-shadow: -5px 10px 10px rgb(201, 196, 196) ;
}

.title_white{
    font-size: 22px;
    font-weight: bold;
    color: white;
    margin-top: 20px;
    margin-bottom: 30px;
}

.paragraph2{
    font-size: 16px;
    color: white;
}

.price2{
    font-size: 56px;
    color: white;
    margin-right: 5px;
}

.group3{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 40px;
    margin-bottom: 30px;
}

.group4{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 10px;
}

.group4 p{
    color: white;
    margin-left: 10px;
}

.card2 button{
    width: 330.64px;
    height: 44px;
    background-color: white;
    border-radius: 8px;
    color: black;
    font-weight: bold;
    cursor: pointer;
    transition: .3s;
    margin-bottom: 30px;
}

.card2 button:hover{
    background-color: black;
    color: white;
    border: 2px solid white;
}





