body{
    background-image: url('../img/Background_Login.png');
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Open Sans', sans-serif;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header{
    margin: 100px auto;
}

main{
    width: 444px;
    height: 313px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 15px;
    box-shadow: -10px 10px 10px rgb(71, 71, 71) ;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contend{
    height: 220px;
    width: 350px;
}

h1{
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 40px;
}

form input{
    background-color: rgba(255, 255, 255, 0);
    height: 46px;
    width: 295px;
    color: white;
    font-size: 16px;
    outline: 0;
    border: solid 1px white;
    border-radius: 8px;
    padding-left: 50px;
    margin-bottom: 20px;
}

.mail{
    background-image: url('../img/icon/mail.png');
    background-repeat: no-repeat;
    background-position:left;
    background-position-x: 10px;
}

input::placeholder{
    color: white;
    font-size: 16px;
}

form button{
    background-color: #C44900;
    width: 100%;
    height: 40.58px;
    border: 1px solid white;
    border-radius: 8px;
    color: white;
    font-size: 20px;
    margin-top: 20px;
    box-shadow: -10px 10px 10px rgb(71, 71, 71) ;
    cursor: pointer;
    transition: .3s;
}

form button:hover{
    background-color: white;
    color:#C44900;
    border: solid 2px #C44900;
}