.mail{
    background-image: url('../img/icon/mail.png');
    background-repeat: no-repeat;
    background-position:left;
    background-position-x: 10px;
}

.label-mail{
    margin-top: 10px;
}

.password, .confir-pass{
    background-image: url('../img/icon/password.png');
    background-repeat: no-repeat;
    background-position:left;
    background-position-x: 10px;
}

.name, .last-name{
    background-image: url('../img/icon/user.png');
    background-repeat: no-repeat;
    background-position:left;
    background-position-x: 10px;
}

form{
    display: flex;
    flex-direction: column;
}

form input{
    background-color: rgba(255, 255, 255, 0);
    height: 36px;
    width: 295px;
    color: white;
    font-size: 16px;
    outline: 0;
    border: solid 1px white;
    border-radius: 8px;
    padding-left: 50px;
    margin-bottom: 20px;
    display: flex;
}

h1{
    font-size: 35px;
    margin-top: 30px;
    margin-bottom: 30px;
}

span{
    color: #C44900;
    font-weight: bold;
}

label{
    margin-bottom: 15px;
}

.content{
    background: radial-gradient(102.98% 2129.71% at 0% 102.98%, rgba(20, 48, 102, 0.225) 0%, rgba(83, 83, 83, 0.24) 21.88%, rgba(229, 85, 0, 0.135) 99.48%, rgba(229, 85, 0, 0.135) 99.49%);
    width: 1150px;
    height: 565px;
    margin-left: 30px;
    border-radius: 20px;
    display: flex;
    flex-direction: row;
}

.content div{
    margin-left: 50px;
}

button{
    background-color: #C44900;
    height: 46px;
    width: 50%;
    border: solid 1px white;
    border-radius: 8px;
    margin-top: 10px;
    color: white;
    font-size: 18px;
    box-shadow: -10px 10px 10px rgb(71, 71, 71) ;
    cursor: pointer;
    transition: .3s;
}

button:hover{
    background-color: white;
    color:#C44900;
    border: none;
}

.marcation{
    position: absolute;
    top: 170px;
    left: 283px;
}